<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
    <!-- 工作流变量 -->
    <bean id="top.cardone.workflow.dao.WfVariableDao"
          class="top.cardone.workflow.dao.impl.WfVariableDaoImpl">
        <property name="configTable">
            <map>
                <entry key="config">
                    <map>
                        <entry key="sqlFileRoot" value="/cardone/workflow/wfVariable/"/>
                        <entry key="pks" value="wfVariableId"/>
                        <entry key="codes" value="wfVariableId"/>
                    </map>
                </entry>
                <entry key="insert">
                    <map>
                        <entry key="wfVariableId" value="getRandomUUIDFunc"/>
                        <entry key="creator" value="getLoginUserIdFunc"/>
                        <entry key="createDate" value="getNowDateFunc"/>
                    </map>
                </entry>
                <entry key="update">
                    <map>
                        <entry key="modifier" value="getLoginUserIdFunc"/>
                        <entry key="modifyDate" value="getNowDateFunc"/>
                    </map>
                </entry>
            </map>
        </property>
    </bean>

    <!-- 工作流变量 -->
    <bean id="top.cardone.workflow.service.WfVariableService"
          class="top.cardone.workflow.service.impl.WfVariableServiceImpl">
        <property name="dao" ref="top.cardone.workflow.dao.WfVariableDao"/>
    </bean>
</beans>