<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <rabbit:direct-exchange
            name="exchange:cardone-workflow-${cardone-workflow-version}:top.cardone.workflow.service.WfVariableUserService">
        <rabbit:bindings>
            <rabbit:binding
                    queue="queue:cardone-workflow-${cardone-workflow-version}:top.cardone.workflow.service.WfVariableUserService"
                    key="queue:cardone-workflow-${cardone-workflow-version}:top.cardone.workflow.service.WfVariableUserService"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:queue
            name="queue:cardone-workflow-${cardone-workflow-version}:top.cardone.workflow.service.WfVariableUserService"/>

    <bean id="top.cardone.workflow.service.WfVariableUserServiceExporter"
          class="org.springframework.amqp.remoting.service.AmqpInvokerServiceExporter">
        <property name="serviceInterface" value="top.cardone.workflow.service.WfVariableUserService"/>
        <property name="service" ref="top.cardone.workflow.service.WfVariableUserService"/>
        <property name="amqpTemplate" ref="org.springframework.amqp.core.AmqpTemplate"/>
    </bean>

    <rabbit:listener-container acknowledge="none" max-concurrency="128" prefetch="10">
        <rabbit:listener ref="top.cardone.workflow.service.WfVariableUserServiceExporter"
                         queue-names="queue:cardone-workflow-${cardone-workflow-version}:top.cardone.workflow.service.WfVariableUserService"/>
    </rabbit:listener-container>
</beans>