<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
    <!-- 工作流变量 -->
    <bean id="top.cardone.workflow.dao.WfVariableDao"
          class="top.cardone.workflow.dao.impl.WfVariableDaoImpl">
        <property name="configTable">
            <map>
                <entry key="config">
                    <map>
                        <entry key="sqlFileRoot" value="/cardone/workflow/wfVariable/"/>
                        <entry key="pks" value="wfVariableId"/>
                        <entry key="codes" value="wfVariableId"/>
                    </map>
                </entry>
                <entry key="insert">
                    <map>
                        <entry key="wfVariableId" value="getRandomUUIDFunc"/>
                        <entry key="createdByCode" value="readCreatedByCodeFunc"/>
                        <entry key="createdDate" value="readCreatedDateFunc"/>
                    </map>
                </entry>
                <entry key="update">
                    <map>
                        <entry key="lastModifiedByCode" value="readLastModifiedByCodeFunc"/>
                        <entry key="lastModifiedDate" value="readLastModifiedDateFunc"/>
                    </map>
                </entry>
            </map>
        </property>
    </bean>

    <!-- 工作流变量 -->
    <bean id="top.cardone.workflow.service.WfVariableService"
          class="top.cardone.workflow.service.impl.WfVariableServiceImpl">
        <property name="dao" ref="top.cardone.workflow.dao.WfVariableDao"/>
    </bean>

    <bean parent="messageListenerContainerParnet">
        <property name="messageListener">
            <bean  parent="exceptionParnet">
                <property name="serviceInterface" value="top.cardone.workflow.service.WfVariableService"/>
                <property name="service" ref="top.cardone.workflow.service.WfVariableService"/>
            </bean>
        </property>
        <property name="destination">
            <bean class="org.apache.activemq.command.ActiveMQQueue">
                <constructor-arg value="cardone-workflow-${cardone-workflow-version}:top.cardone.workflow.service.WfVariableService"/>
            </bean>
        </property>
    </bean>
</beans>