<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <rabbit:direct-exchange
            name="exchange:cardone-workflow-${cardone-workflow-version}:top.cardone.workflow.service.WfTaskHandleRetryService">
        <rabbit:bindings>
            <rabbit:binding
                    queue="queue:cardone-workflow-${cardone-workflow-version}:top.cardone.workflow.service.WfTaskHandleRetryService"
                    key="queue:cardone-workflow-${cardone-workflow-version}:top.cardone.workflow.service.WfTaskHandleRetryService"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:queue
            name="queue:cardone-workflow-${cardone-workflow-version}:top.cardone.workflow.service.WfTaskHandleRetryService"/>

    <bean id="top.cardone.workflow.service.WfTaskHandleRetryServiceExporter" parent="remoteInvocationExecutorParnet">
        <property name="serviceInterface" value="top.cardone.workflow.service.WfTaskHandleRetryService"/>
        <property name="service" ref="top.cardone.workflow.service.WfTaskHandleRetryService"/>
    </bean>

    <rabbit:listener-container message-converter="amqpMessageConverter" concurrency="2">
        <rabbit:listener ref="top.cardone.workflow.service.WfTaskHandleRetryServiceExporter"
                         queue-names="queue:cardone-workflow-${cardone-workflow-version}:top.cardone.workflow.service.WfTaskHandleRetryService"/>
    </rabbit:listener-container>
</beans>