<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:tool="http://www.springframework.org/schema/tool"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool-3.0.xsd"
	default-lazy-init="false">
	<!-- 分区 -->
	<bean id="com.fand.system.dao.PartitionDao" class="com.fand.system.dao.JdbcPartitionDao"
		parent="daoTemplate.default">
	</bean>

	<!-- 分区字段 -->
	<bean id="com.fand.system.dao.PartitionFieldDao" class="com.fand.system.dao.JdbcPartitionFieldDao"
		parent="daoTemplate.default">
	</bean>

	<!-- 目录 -->
	<bean id="com.fand.system.dao.DirectoryDao" class="com.fand.system.dao.JdbcDirectoryDao"
		parent="daoTemplate.default">
	</bean>

	<!-- 目录字段 -->
	<bean id="com.fand.system.dao.DirectoryFieldDao" class="com.fand.system.dao.JdbcDirectoryFieldDao"
		parent="daoTemplate.default">
	</bean>

	<!-- 资源 -->
	<bean id="com.fand.system.dao.ResourceDao" class="com.fand.system.dao.JdbcResourceDao"
		parent="daoTemplate.default">
	</bean>

	<!-- 资源字段 -->
	<bean id="com.fand.system.dao.ResourceFieldDao" class="com.fand.system.dao.JdbcResourceFieldDao"
		parent="daoTemplate.default">
	</bean>

	<!-- 系统运行 -->
	<bean id="com.fand.system.dao.SystemRunDao" class="com.fand.system.dao.JdbcSystemRunDao"
		parent="daoTemplate.default">
	</bean>

	<!-- 系统运行 -->
	<bean id="com.fand.system.service.SystemRunService" class="com.fand.system.service.DefaultSystemRunService">
		<!-- 分区 -->
		<property name="partitionDao" ref="com.fand.system.dao.PartitionDao" />

		<!-- 分区字段 -->
		<property name="partitionFieldDao" ref="com.fand.system.dao.PartitionFieldDao" />

		<!-- 目录 -->
		<property name="directoryDao" ref="com.fand.system.dao.DirectoryDao" />

		<!-- 目录字段 -->
		<property name="directoryFieldDao" ref="com.fand.system.dao.DirectoryFieldDao" />

		<!-- 资源 -->
		<property name="resourceDao" ref="com.fand.system.dao.ResourceDao" />

		<!-- 资源字段 -->
		<property name="resourceFieldDao" ref="com.fand.system.dao.ResourceFieldDao" />

		<!-- 系统运行 -->
		<property name="dao" ref="com.fand.system.dao.SystemRunDao" />
	</bean>
</beans>