<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   		http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="freemarker.ext.beans.BeansWrapper" class="freemarker.ext.beans.BeansWrapper"/>

    <bean id="top.cardone.template.support.TemplateSupport.default"
          class="top.cardone.ui.freemarker.FreeMarkerConfigurationFactoryBean">
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">${freemarkerSettings.template_update_delay:60}</prop>
                <prop key="default_encoding">UTF-8</prop>
                <prop key="defaultEncoding">UTF-8</prop>
                <prop key="output_encoding">UTF-8</prop>
                <prop key="url_escaping_charset">UTF-8</prop>
                <prop key="time_format">HH:mm:ss</prop>
                <prop key="boolean_format">true,false</prop>
                <prop key="whitespace_stripping">true</prop>
                <prop key="tag_syntax">auto_detect</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="date_format">yyyy-MM-dd</prop>
                <prop key="number_format">#.##</prop>
                <prop key="template_exception_handler">top.cardone.template.FreemarkerExceptionHandler</prop>
            </props>
        </property>
        <property name="freemarkerVariables">
            <map>
                <entry key="beansWrapperFn" value-ref="freemarker.ext.beans.BeansWrapper"/>
            </map>
        </property>
    </bean>

    <bean name="top.cardone.template.support.TemplateSupport"
          class="top.cardone.template.support.impl.TemplateSupportImpl">
        <property name="targetConfigurations">
            <map>
                <entry key="default" value-ref="top.cardone.template.support.TemplateSupport.default"/>
            </map>
        </property>
        <property name="defaultTargetConfiguration" ref="top.cardone.template.support.TemplateSupport.default"/>
    </bean>
</beans>