<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
    <bean id="top.cardone.data.support.DataOperationsSupport"
          class="top.cardone.data.support.impl.DataOperationsSupportImpl"/>

    <bean id="top.cardone.data.support.PageableSupport" class="top.cardone.data.support.impl.PageableSupportImpl"/>

    <bean id="top.cardone.data.support.PageSupport" class="top.cardone.data.support.impl.PageSupportImpl"/>

    <bean id="readRandomUUIDFunc" class="top.cardone.data.func.ReadRandomUUIDFunc"/>

    <bean id="readCreatedByCodeFunc" class="top.cardone.security.shiro.func.ReadPrincipalFunc"/>

    <bean id="readCreatedDateFunc" class="top.cardone.data.func.ReadDateFunc"/>

    <bean id="readLastModifiedByCodeFunc" class="top.cardone.security.shiro.func.ReadPrincipalFunc"/>

    <bean id="readLastModifiedDateFunc" class="top.cardone.data.func.ReadDateFunc"/>
</beans>