<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   		http://www.springframework.org/schema/beans/spring-beans.xsd 
     	http://www.springframework.org/schema/cache 
     	http://www.springframework.org/schema/cache/spring-cache.xsd">
    <bean id="top.cardone.cache.Cache" class="top.cardone.cache.impl.CacheImpl" lazy-init="true"/>

    <cache:annotation-driven cache-manager="top.cardone.cache.CardOneCacheManager"/>

    <bean id="top.cardone.cache.CardOneCacheManager"
          class="top.cardone.cache.impl.CardOneCacheManagerImpl"/>

    <bean id="top.cardone.cache.CardOneCacheResolver"
          class="top.cardone.cache.impl.CardOneCacheResolverImpl">
        <property name="appGroupName" value="${app.group.name:cardone}"/>
        <property name="cacheManagerList">
            <list>
                <ref bean="org.springframework.cache.guava.GuavaCacheManager"/>
                <ref bean="top.cardone.cache.impl.MemcachedCacheManager"/>
            </list>
        </property>
    </bean>

    <!-- guavaCacheManager -->
    <bean id="org.springframework.cache.guava.GuavaCacheManager"
          class="org.springframework.cache.guava.GuavaCacheManager">
        <property name="cacheBuilderSpec">
            <bean class="com.google.common.cache.CacheBuilderSpec" factory-method="parse">
                <constructor-arg>
                    <value>maximumSize=1000,expireAfterAccess=30m</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>

    <bean id="top.cardone.cache.impl.MemcachedCacheManager"
          class="top.cardone.cache.impl.MemcachedCacheManagerImpl">
        <property name="spyMemcachedClient" ref="spyMemcachedClient"/>
        <property name="defaultExpire" value="3600" />
        <property name="expireMap">
            <map>
                <entry key="**.*.ShiroDbRealm.authorizationCache" value="7200" />
                <entry key="**.*.ShiroDbRealm.authenticationCache" value="7200" />
                <entry key="**.*.SiteService" value="1296000" />
                <entry key="**.*.SiteUtils" value="1296000" />
                <entry key="**.*.DictionaryService" value="86400" />
            </map>
        </property>
    </bean>

    <bean id="spyMemcachedClient" class="top.cardone.cache.impl.SpyMemcachedClientImpl">
        <property name="memcachedClient">
            <bean class="net.spy.memcached.spring.MemcachedClientFactoryBean">
                <property name="servers" value="${cache.memcacheHost}"/>
                <property name="protocol" value="BINARY"/>
                <property name="transcoder">
                    <bean class="net.spy.memcached.transcoders.SerializingTranscoder">
                        <property name="compressionThreshold" value="1024"/>
                    </bean>
                </property>
                <property name="opTimeout" value="1000"/>
                <property name="timeoutExceptionThreshold" value="1998"/>
                <property name="locatorType" value="CONSISTENT"/>
                <property name="failureMode" value="Redistribute"/>
                <property name="useNagleAlgorithm" value="false"/>
            </bean>
        </property>
    </bean>
</beans>