<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <rabbit:connection-factory
            id="rabbitConnectionFactory"
            host="${spring.rabbitmq.host:127.0.0.1}"
            port="${spring.rabbitmq.port:5672}"
            username="${spring.rabbitmq.username:cardone}"
            password="${spring.rabbitmq.password:cardone.123}"
            virtual-host="${spring.rabbitmq.virtualHost:cardone}"
            channel-cache-size="${spring.rabbitmq.channel.cache.size:20}"
            connection-cache-size="${spring.rabbitmq.connection.cache.size:5}"
            publisher-confirms="true"
            executor="${spring.rabbitmq.executor:org.springframework.core.task.TaskExecutor}"/>

    <bean id="amqpMessageConverter" class="top.cardone.amqp.support.converter.RpcMessageConverter"/>

    <bean name="rabbitTemplateParnet" class="org.springframework.amqp.rabbit.core.RabbitTemplate" abstract="true">
        <property name="connectionFactory" ref="rabbitConnectionFactory"/>
        <property name="messageConverter" ref="amqpMessageConverter"/>
        <property name="replyTimeout" value="${spring.rabbitmq.replyTimeout:3000000}"/>
        <property name="receiveTimeout" value="${spring.rabbitmq.receiveTimeout:3000000}"/>
    </bean>

    <rabbit:template id="org.springframework.amqp.core.AmqpTemplate"
                     connection-factory="rabbitConnectionFactory"
                     message-converter="amqpMessageConverter"
                     reply-timeout="${spring.rabbitmq.replyTimeout:3000000}"
                     receive-timeout="${spring.rabbitmq.receiveTimeout:3000000}"/>

    <rabbit:admin connection-factory="rabbitConnectionFactory"/>
</beans>