<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="invokerProxyFactoryParnet" class="org.springframework.amqp.remoting.client.AmqpProxyFactoryBean"
          abstract="true">
        <property name="remoteInvocationFactory">
            <bean class="org.apache.shiro.spring.remoting.SecureRemoteInvocationFactory"/>
        </property>
    </bean>

    <bean name="remoteInvocationExecutorParnet"
          class="org.springframework.amqp.remoting.service.AmqpInvokerServiceExporter"
          abstract="true">
        <property name="amqpTemplate" ref="org.springframework.amqp.core.AmqpTemplate"/>
        <property name="remoteInvocationExecutor">
            <bean class="org.apache.shiro.spring.remoting.SecureRemoteInvocationExecutor"/>
        </property>
    </bean>
</beans>