<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="top.cardone.web.support.FuncBindSupport" class="top.cardone.web.support.FuncBindSupport">
        <property name="apiConfigRoot" value="file:/${app.root}/config/api"/>
    </bean>
</beans>