<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
    <bean id="top.cardone.web.support.WebSupport" class="top.cardone.web.support.WebSupport" lazy-init="true">
        <property name="apiConfigRoot" value="file:config/api"/>
        <property name="apiStaticRoot" value="file:config/api"/>
    </bean>
</beans>