<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   		http://www.springframework.org/schema/beans/spring-beans.xsd 
     	http://www.springframework.org/schema/cache 
     	http://www.springframework.org/schema/cache/spring-cache.xsd">
    <bean id="top.cardone.cache.Cache"
          class="top.cardone.cache.impl.CacheImpl">
    </bean>

    <cache:annotation-driven cache-manager="top.cardone.cache.CardOneCacheManager"/>

    <bean id="top.cardone.cache.CardOneCacheManager"
          class="top.cardone.cache.impl.CardOneCacheManagerImpl">
    </bean>

    <bean id="top.cardone.cache.CardOneCacheResolver"
          class="top.cardone.cache.impl.CardOneCacheResolverImpl">
        <property name="cacheManagerList">
            <list>
                <ref bean="org.springframework.cache.guava.GuavaCacheManager"/>
            </list>
        </property>
    </bean>

    <!-- guavaCacheManager -->
    <bean id="org.springframework.cache.guava.GuavaCacheManager"
          class="org.springframework.cache.guava.GuavaCacheManager">
        <property name="cacheBuilderSpec">
            <bean class="com.google.common.cache.CacheBuilderSpec" factory-method="parse">
                <constructor-arg>
                    <value>maximumSize=1000,expireAfterAccess=30m</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>
</beans>