<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
    <bean name="org.springframework.core.convert.support.StringToNumberConverterFactory"
          class="org.springframework.core.convert.support.StringToNumberConverterFactory"/>

    <bean id="stringToLongConverter"
          factory-bean="org.springframework.core.convert.support.StringToNumberConverterFactory"
          factory-method="getConverter">
        <constructor-arg value="java.lang.Long"/>
    </bean>

    <bean id="stringToLongFunc" class="top.cardone.context.func.ConversionFunc">
        <property name="converterBenaId" value="stringToLongConverter"/>
    </bean>

    <bean id="stringToDateFunc" class="top.cardone.context.func.StringToDateFunc"/>

    <bean name="defaultValueFunc"
          class="top.cardone.context.func.DefaultValueFunc"/>
</beans>